body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* header {
    background-color: #5e17eb;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

main {
    padding: 20px;
}

.sambutan h2{
    color: #ad0707;
    font-family: 'Courier New', Courier, monospace;

}

#sambutan p{
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

.search-section {
    margin-bottom: 20px;
}

.search-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-section input {
    padding: 10px;
    flex: 1;
    min-width: 100px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.job-listings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-item img {
    max-width: 300px;
    margin-bottom: 10px;
}

.job-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




/*Aplcation form*/

.application-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.application-form label {
    display: block;
    margin-bottom: 5px;
}

.application-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.application-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    width: 100%;
    bottom: 0;
}

/* Style khusus untuk box form login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    border-radius: 8px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.login-logo {
    max-width: 300px;
    margin-bottom: 15px;
    text-shadow: #161616;
}

.login-box h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #161616;
}

/* Style input dan label */
.input-group {
    text-align: left;
    margin: 5px;
}

.input-group label {
    text-align: left;
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
    color: #161616;
    font-weight: bold;
}

/* Style input*/
.input-group input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: #007bff;
}

/* Style checkbox dan link */
.login-options {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 13px 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* hyperlink lupa password */
.forgot-password {
    padding-left: 1%;
    text-decoration: none;
    color: #007bff;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Tombol login */
.login-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Tombol hyperlink detail di halaman main */
.detail-btn {
    background-color: #007bff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    text-decoration: none;
    display: inline-block;
  }
  
.detail-btn:hover {
    background-color: #0056b3;
  }


/* Tombol hyperlink lamar */
.lamar-btn {
    background-color: #007bff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    text-decoration: none;
    display: inline-block;
  }
  
.lamar-btn:hover {
    background-color: #0056b3;
  }


/*Navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #8c52ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 12%;
    font-weight: bold;
    margin-top: 10px;
    gap: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #1abc9c;
}
.contact-btn {
    background-color: #0096c7;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.contact-btn:hover {
    background-color: #0077a7;
}